@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Dentro da minha jornada na programação, o período em que mais evoluí até agora, foi com certeza o período do curso Sharp Coders da Ímã Tech.
</p>

<p>
    Nele passei rapidamente pelos conhecimentos iniciais da programação em uma linguagem totalmente nova, o C#. E em pouco tempo já estava em águas desconhecidas, aprofundando cada vez mais na linguagem, na lógica e em novos conceitos; de programação orientada a objetos, Clean Code e SOLID.
</p>

<p>
    O ritmo acelerado do curso foi essencial para que eu me esforçasse para conseguir acompanhar as aulas e estudar pontos específicos e necessários para os projetos.
</p>

<p>
    O projeto final foi com certeza o meu maior desafio até hoje na programação. Nele trabalhei pela primeira vez em grupo, fiz versionamento do código usando o git e o GitHub junto com meus colegas, construí um sistema bancário usando JavaScript e depois o reescrevi em ReacJS, modularizando os componentes do sistema (sendo esta a primeira vez que tive contato com a tecnologia), construí uma API para processar os pedidos do sistema bancário e fiz a integração com banco de dados usando MySql.
</p>

<p>
    O sistema foi criado segundo os padrões MVC e DTO, e as validações de token foram feitas usando o Jwt.
</p>

<p>
    Dividimos os projetos em dois repositórios no GitHub, um para o front-end e outro para a API. O front-end foi hospedado na Netlify, observando o repositório e fazendo o deploy a cada nova merge, e a API foi hospedada no Railway.
</p>
<p>
Todos esses pontos foram extremamente novos para mim que ainda estava estudando a parte de lógica da programação e realizando pequenos exercícios de poucas linhas. Não tinha ainda criado nenhum sistema, por mais simples que fosse, apenas jogos. Portanto esse foi um passo gigante na minha evolução, e o impulsionamento para me fazer ir mais longe ainda nesse universo.
</p>