/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kwwj45gkqh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #fab387;
  background-color: #1e1e2e;
}


a[b-kwwj45gkqh] {
  color: #fff;
}

.btn-primary[b-kwwj45gkqh] {
  color: #fff;
}

.nav-pills .nav-link.active[b-kwwj45gkqh], .nav-link.hover[b-kwwj45gkqh], .nav-pills .show > .nav-link[b-kwwj45gkqh] {
  color: #fab387;
  background-color: #1e1e2e;
  
}

.border-top[b-kwwj45gkqh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kwwj45gkqh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kwwj45gkqh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kwwj45gkqh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kwwj45gkqh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
