html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
  --font: #ffffff;
  --charcoal: #cdd6f4;
  --sky: #89dceb;
  --yellow: #e9c46a;
  --orange: #fab387;
  --sienna: #fab387;
  --background-color: #1e1e2e;
  --dark: #181825;
}

input .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--font);
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

a:hover {
  text-decoration: none;
  color: var(--sky);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: var(--orange);
  background-color: var(--background-color);
}

.navbar a {
  color:var(--orange);
}

.navbar a:hover {
  color:var(--sky);
}

.nav-item a {
  color: var(--orange);
}

h1 {
  color: var(--charcoal);
}

h4 {
  color: var(--sienna);
}

input {
  background:  linear-gradient(180deg, rgba(69, 71, 90, 0.85) 0%, rgba(137, 180, 250, 0.05) 100%);
  color: var(--charcoal);
  width: 20%;
  margin: 10px 0px;
}

input:hover {
  color: #1e1e2e;
  background: linear-gradient(180deg, rgba(250, 179, 135, 0.85) 0%, rgba(179, 127, 95, 0.85) 100%);
}

#folderPath {
  outline: solid 3px #27274d;
  width: 30%;
  margin: 10px 3px 10px 10px;
  color: var(--dark);
  background-color: var(--charcoal);
}

.form-control {
  background-color: var(--charcoal);
}

.form-control:focus {
  background-color: var(--charcoal);
  outline: solid 3px #27274d;
}

label {
  color: var(--orange);
}